[user]
	name = Rafa Vázquez
	email = rafa.vazsan@gmail.com
[core]
	excludefile = ~/.gitignore
	excludesfile = ~/.gitignore_global
	editor = nano
	precomposeunicode = true
[core]
	autocrlf = input
[color]
	ui = true

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  graph = log --graph --pretty=oneline --abbrev-commit
  amend = commit --amend --no-edit
  fire = "!f() { git reset --hard; git clean -f -d; }; f"
  bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"

  feature = flow feature
[push]
	default = simple
